<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  <nav class="navbar">
    <div class="logo">
      <img src="{{ url_for('static', filename='app-logo.png') }}" alt="Logo" height="40">
      <span>PyZone</span>
    </div>

    <div class="nav-links">
      <a href="/">Home</a>
      <a href="/logout">Logout</a>
    </div>
  </nav>

  <section class="hero">
    <h1>✅ Dashboard</h1>
    <p>Welcome! Your Register Number: <b>{{ regno }}</b></p>
  </section>

</body>
</html>
